#search_input_task {
  border: 1px solid lightgray;
  margin-right: 2rem;
  padding: 0.5rem;
  width: 24rem;
}

#search_btn_task {
  background: lightsalmon;
  border: 1px solid lightgray;
  margin-right: 2rem;
  padding: 0.5rem;
  width: 24rem;
}

.save-btn {
  background: rgb(194, 180, 34);
  border-radius: 10px;
  padding: 1rem;
}

.remove-btn {
  background: rgb(180, 43, 18);
  color: white;
  border-radius: 10px;
  padding: 1rem;
  margin-left: 1rem;
}

.task {
  background: lightgray;
  border: 1px solid gray;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  padding: 1rem;
  margin: 0.2rem 0;
}

.task input {
  margin-right: 2rem;
  padding: 0.5rem;
  width: 24rem;
}
